@media print {
  body * {
    visibility: hidden;
  }

  #print-table,
  #print-table * {
    visibility: visible;
  }

  #print-table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
